.container {
  display: flex;
  background-color: white;
  width: 100%;
  justify-content: center;
  padding: 40px;
}
.wrapper {
  width: 700px;
  height: 100%;
}

.comparisonContainer {
  text-align: center;
  padding: 20px;
}

.h1 {
  font-size: 40px;
}

.p {
  font-size: 18px;
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
}

.leftContent {
  flex: 1;
  text-align: left;
}

.rightContent {
  flex: 1;
  text-align: center;
  padding-left: 4rem;
}

.input {
  width: 100%;
  padding: 5px;
  border: 2px solid #ad362b;
  border-radius: 10px;
  text-align: center;
}

.button {
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #ad362b;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  background-color: #d36f66;
}

.buttonCheckPrices {
  width: 200px;
  padding: 10px;
  background-color: white;
  color: black;
  border: 2px solid black;
}
.buttonCheckPrices:hover {
  background-color: #d36f66;
  color: white;
}

@media (max-width: 770px) {
  .contentWrapper {
    flex-direction: column;
    align-items: center;
  }

  .leftContent {
    text-align: center;
  }

  .rightContent {
    padding-left: 0;
    padding-top: 20px;
  }
}
